<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <style media="screen">
    h3{
      color:#d91b18;
      text-transform: capitalize;
    }
    .btn{
      background-color:#181bd9;
      color:white;
    }
    body{
        /* font-family: "Roboto", sans-serif; */
        background-color:#42f5ec;
    }
    fieldset{
      width:400px;
    }
    .nav{
      display: flex;
      justify-content:center;
      align-items: center;
      margin-top:100px;
    }
    </style>
  <body>
    <div class="nav">
    <fieldset>
      <legend>Age</legend>
    <h3>Hello {{name}} please enter you age </h3>
    <form class="" action="/qual">
      Enter age:<input type="number" name="uage" value="" required=""><br><br>
      <input type="submit" name="" value="Submit age">
    </form>
  </fieldset>
</div>
  </body>
</html>
