<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <style media="screen">
    h3{
      color:pink;
      text-transform: capitalize;
    }
    .btn{
      background-color:blue;
      color:white;
    }
    fieldset{
      width:400px;
    }
    .nav{
      display: flex;
      justify-content:center;
      align-items: center;
      margin-top:100px;
    }
    body{
      background-color:green;
    }
  </style>
  <body>
    <div class="nav">
      <fieldset>
        <legend>Gender</legend>
    <div class="dtv">
    <h3>Hello {{name}} please enter your gender</h3>
    <form class="" action="/email">
        Enter gender:<input type="text" name="ugender" value="" required=""><br><br>
        <input type="submit" name="" value="Submit Gender">
    </form>
  </fieldset>
</div>
</div>
  </body>
</html>
