<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <style media="screen">
    h3{
      color:red;
      text-transform: capitalize;
    }
    .btn{
      background-color:blue;
      color:white;
    }
    fieldset{
      width:400px;
    }
    .nav{
      display: flex;
      justify-content:center;
      align-items: center;
      margin-top:100px;
    }
    body{
      background-color:orange;
    }
  </style>
  <body>
    <div class="nav">
      <fieldset>
        <legend>Mobile Number</legend>
    <div class="dtv">
    <h3>Hello {{name}} please enter your mobile number </h3>
    <form class="" action="/gen">
      Enter mobile_number:<input type="number" name="umob" value="" required=""><br><br>
      <input type="submit" name="" value="Submit Mobile">
    </form>
  </fieldset>
</div>
</div>
  </body>
</html>
