<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <style media="screen">
    h3{
      color:#d918c9;
      text-transform: capitalize;
    }
    .btn{
      background-color:blue;
      color:white;
    }
    fieldset{
      width:400px;
    }
    body{
      background-color:#42f5c2;
    }
    .nav{
      display: flex;
      justify-content:center;
      align-items: center;
      margin-top:100px;
    }
  </style>
  <body>
    <div class="nav">
    <fieldset>
      <legend>Name</legend>
      <div class="">
    <h3>Hello {{name}} please enter your name </h3>
    <form action="age/">
      Enter name:<input type="text" name="uname" value="" required=""><br><br>
      <input type="submit" name="" value="Submit Name">
    </form>
  </fieldset>
</div>
</div>
  </body>
</html>
