<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <style media="screen">
    h3{
      color:green;
      text-transform: capitalize;
    }
    .btn{
      background-color:blue;
      color:white;
    }
    fieldset{
      width:400px;
    }
    .nav{
      display: flex;
      justify-content:center;
      align-items: center;
      margin-top:100px;
    }
    body{
      background-color:#bfcc31;
    }
  </style>
  <body>
    <div class="nav">
      <fieldset>
        <legend>Qualification</legend>
    <div class="dtv">
    <h3>Hello {{age}} please enter your Qualification </h3>
    <form class="" action="/add">
      Enter qualification:<input type="text" name="uqualification" value="" required=""><br><br>
      <input type="submit" name="" value="Submit Qualification">
    </form>
  </fieldset>
</div>
</div>
  </body>
</html>
